{% extends "admin/dashlayout.html" %}
{% block content %}
<div class="row justify-content-center my-5" style="margin-top: 30%;">
    <div class="col-md-10 bg-white">
        <h4 class="text-center py-3 "><b>All Registered Users</b></h4>
        {% if deet %}
        <table class="table table-striped text-center">
            <div class="row justify-content-center">
                <div class="col-md-5 text-center alert bg-success text-white">
                    {% include "users/_messages.html" %}
                </div>
            </div>
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Product Description</th>
                    <th>Image</th>
                    <th>Action</th>
                 
                    
                </tr>
            </thead>
            <tbody>
                {% for product in deet %}
       
                
                <tr>
                    <td class="py-5">{{ loop.index }}</td>
                    <td class="py-5">{{ product.name }}</td>
                    <td class="py-5">{{ product.price }}</td>
                    <td class="py-5 px-3">{{ product.desc }}</td>
                    <td class="py-5"><img src="/static/uploads/{{ product.filename or 'default-image.jpg' }}" class="img-fluid rounded" style="height: 60px;" alt="{{ product.name }}"></td>
                    <td><a href="{{ url_for('delete_product',id=product.id)}}" class="btn btn-danger">Delete</a></td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-center alert alert-info">NO USER FOUND</div>
        {% endif %}
    </div>
</div>
{% endblock content %}
