{% extends "admin/dashlayout.html" %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <h1 class="text-center py-5">Transaction History</h1>
                <div class="row justify-content-center">
                    <div class="col-md-5 text-center alert bg-success text-white">
                        {% include "users/_messages.html" %}
                    </div>
                </div>
                {% if userdeets %}
                <table class="table table-striped text-center table-bordered bg-white">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Image</th>
                            <th>Reference No.</th>
                            <th>Product Price</th>
                            <th>Product Name</th>
                            <th>Product Status</th> 
                            <th>Product quantity</th>
                            <th>Date Ordered</th>
                            <th colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in userdeets %}
                        
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email}}</td>
                            <td>{{ user.address}}</td>
                            <td class="py-5"><img src="/static/uploads/{{ user.filename or 'default-image.jpg' }}" class="img-fluid rounded" style="height: 60px;" alt="{{ user.name }}"></td>                            <td>{{ user.reference }}</td>
                            <td>{{ user.amount }}</td>
                            <td>{{ user.product_names }}</td>
                            <td>{{ user.status }}</td>
                            <td>{{ user.quantities}}</td>
                            <td>{{ user.timestamp}}</td>
                    
                            <td><a href="{{ url_for('payment_confirmed',id=user.id)}}" class="btn btn-success">confirm</a></td>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-info text-center">
                    No transactions found.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
