{% extends "users/layout.html" %}
    
    
    
    <!-- Endpoint for navbar -->
 {%block content %}  
    <!-- large screen Header section  -->
    <header class="d-none d-md-block bigbag  position-relative" style="height: 1000px;">
      <!-- Video Background -->
      <div class="position-absolute top-0 start-0 w-100 h-100 overflow-hidden">
          <video autoplay loop muted playsinline class=" w-100 ">
              <source src="/static/videos/LUMIVASE.mp4" type="video/mp4">
              Your browser does not support the video tag.
          </video>
          <!-- Overlay -->
          <div class="position-absolute top-0 start-0 w-100 h-100 overlay"></div>
      </div>
  
      <!-- Content -->
      <div class="container position-relative text-center text-white" style="padding-top: 20%;">
          <h1 class="animate__animated animate__fadeIn animate__slow animate__delay-1s responsive-text" style="font-size: 220px;">
              <i>LUMIVASE</i>
          </h1>
      </div>
  </header>
  
  
    
<!-- mobile header display section -->


<header class="d-block d-md-none position-relative" style="height: 100vh;">
  <!-- Video Background -->
  <div class="position-absolute top-0 start-0 w-100 h-100 overflow-hidden">
    <video autoplay loop muted playsinline class="w-100 h-100 object-fit-cover">
      <source src="/videos/LUMIVASE.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <!-- Overlay -->
    <div class="position-absolute top-0 start-0 w-100 h-100 overlay"></div>
  </div>

  <!-- Content -->
  <div class="container position-relative text-center text-white" style="padding-top: 110%;">
    <div class="animate__animated text-center d-flex animate__fadeIn animate__slow animate__delay-1s responsive-text section-title" style="font-size: 70px !important;  display: flex; align-items: center; color: #8b8787; justify-content: center;">
      <div class="d-flex justify-content-center align-items-center">
          <h1>L</h1>
          <h1>U</h1>
          <h1>M</h1>
          <h1>I</h1>
          <h1>V</h1>
          <h1>A</h1>
          <h1>S</h1>
          <h1>E</h1>
      </div>
  </div>
  
  </div>
</header>

    
    <!-- Endpoint header -->
    
    <!-- Hero section -->
    <div class="row    justify-content-center text-center hero-img " >
        <div class="col-md-11">
          <div class="row justify-content-center align-items-center px-3">
            <div class="col-md-5 mt-5 d-flex flex-column align-items-center">
              <div class="content-wrapper2 pt-5 text-center">
                <p class="hero-subtitle2 hero-color" style="padding-top: 0%;">WELCOME TO</p>
                <h2 class="section-title">Biscenic Stylish Lumivase Collection</h2>
                <p class="section-description">
                  Step into sophistication with our latest AI LumiVase collection. Each  is crafted to perfection, blending comfort with high Performance. Elevate your comfort zone with a perfect view that speak of timeless elegance.
                </p>
                <div class="linkbtn pt-3 pb-5 d-flex justify-content-center">
                    <a href="#" class="btn-link2">
                      <span>LEARN MORE</span>
                    </a>
                  </div>
                  
              </div>
            </div>
            
            <div class="col-12 fade-effect px-0  col-md-4  justify-content-center" style="padding-top: 15%; padding-bottom: 15%;">
              <div class="image-container">
                <!-- 5 Images with fade effect -->
                <img src="/static/images/Lumi1.jpg" alt="Image 1" class="img-fluid ">
                <img src="/static/images/Lumi2.jpg" alt="Image 2" class="img-fluid ">
                <img src="/static/images/Lumi3.jpg" alt="Image 3" class="img-fluid ">
                <img src="/static/images/Lumi4.jpg" alt="Image 4" class="img-fluid ">
                <img src="/static/images/Lumi5.jpg" alt="Image 5" class="img-fluid ">
              </div>
            </div>
          </div>
        </div>
      </div>
    
    <!-- Endpoint Herosection -->
    

    <!-- Introduction to AI-->
    <section>
        <div class="row hero px-3 justify-content-center text-center">
          <div class="col-md-10" style="padding-top: 10%;">
            <div class="row justify-content-center">
              <!-- Image Column -->
              <div class="col-md-6 d-flex justify-content-center">
                <img src="/static/images/lumi11.jpg" class="img-fluid rounded" style="height: 550px;" alt="">
              </div>
              <!-- Text Column -->
              <div class="col-md-6 d-flex align-items-center justify-content-center px-3 d-none d-sm-block">
                <div data-aos="fade-left" class="introsection">
                  <h2 class="section-title text-center pt-4" style="font-size: 60px;">Introducing AI LumiVase</h2>
                  <div class="introtext p-3">
                    <p>At Biscenic, we believe that fashion is more than just blahblah an expression of your identity. Our carefully curated collections are designed to inspire, empower, and transform your style into a signature of elegance.</p>
                    <p>Join us on a journey of discovery and let your wardrobe speak volumes about your personality. With Biscenic, every piece is a statement, every look is a story.</p>
                  </div>
                  <!-- Centered Buttons -->
                  <div class="d-flex p-5 justify-content-center">
                    <a href="#" class="custom-btn mx-2 text-dark custom-btn-type1">
                      <span class="custom-btn-txt">LEARN MORE</span>
                    </a>
                    <a href="#" class="custom-btn custom-btn-type1">
                      <span class="custom-btn-txt">SHOP NOW</span>
                    </a>
                  </div>
                </div>
              </div>
              
              <!-- mobile device -->
               <div class="col-md-6 d-block d-md-none" >
                <h1 class="section-title px-2" style="padding-top: 20%;">Introducing AI LumiVase</h1>
                <div class="section-description">
                  <p>At Biscenic, we believe that fashion is more than just blahblah an expression of your identity. Our carefully curated collections are designed to inspire, empower, and transform your style into a signature of elegance.</p>
                  <p>Join us on a journey of discovery and let your wardrobe speak volumes about your personality. With Biscenic, every piece is a statement, every look is a story.</p>
                </div>
               </div>
              
            </div>
          </div>
        </div>
      </section>
      
    <!-- Endpoint Introduction to AI -->

    <!-- why choose us  -->
    <section class=" px-4">
        <div class="row justify-content-center  my-5">
         <div class="col-md-12">
             <div class="row justify-content-center py-5">
                 <div class="col-md-4 mt-5 px-3">
                     <p class="pt-5"> <span class=" pt-5">WHY CHOOSE US</span><span><hr></span></p>
                     <div class="content-wrapper2 mb-5">
                         
                        <h2 class="section-title pb-2 fs-3 fs-md-2 fs-lg-1">Elegant & Stylish Lumivase Collection</h2>
                        <p class="section-description text-dark pb-2 fs-6 fs-md-5">Step into sophistication with our latest shoe collection. Each pair is crafted to perfection, blending comfort with high fashion. Elevate your look with shoes that speak of timeless elegance.</p>

                         <div class="linkbtn">
                             <a href="#" class="btn-link2">
                                 <span>SHOP NOW</span>
                             </a>
                         </div>
                     </div>
     
                 </div>
                 <div class="col-md-7 d-flex">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <img src="/static/images/Lumi4.jpg " class="imds" style="height: 600px;" width="100%" alt="" class="img-fluid rounded ">
                        </div>
                        <div class="mx-1 mt-5 col-md-4">
                            <img src="/static/images/Lumi7.jpg " class=" imds py-4  rounded " style=" border-radius: 10px;" width="100%" alt="">
                            <img src="/static/images/Lumi5.jpg " class="imds py-4 rounded" style="height: 390px; border-radius: 10px;" width="100%" alt="">
                        </div>
                    </div>
                 </div>
             </div>
         </div>
        </div>
     </section>


{% endblock content %}
     <!-- endpoint for why choose me  -->

